body{
    background-color: black;
	background-image: url('../images/background-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

/* TÍTULO */

.title {
	color: white;
	position: relative;
    font-size: 50pt;
    padding: 5% 0 0 10%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 20px;
}

/* MENU */

.line {
	background-color: white;
	padding: 1px;
    margin: 0 650px 0 170px;
}

.left-background {
	z-index: -1;
	position: fixed;
    margin: -46px 0px 0% -8px;
}

button {
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 10px;
    background-color: white;
    color: black;
    border-radius: 1px 20px;
    font-size: 16pt;
    border: none;
    font-weight: bold;
	padding: 16px 38px;
	box-shadow: black -3px 3px 5px;
	cursor: pointer;
	transition: 1s;
}

button:hover {
	transition: 1s;
	color: white;
	background-color: black;

}

.buttons {
	display: inline-grid;
    padding-left: 15%;
    padding-top: 4%;
}


/* RODAPÉ */


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}